<div ng-controller="app.views.candidatoInfo as vm">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

    <div class="card">

    

        <div class="row">
            <div class="header">
                <h2>
                    Informações Pessoais
                 
                </h2>
            </div>
            <div class="col-lg-8">
                <br />
                <br />
                <div class="col-md-1">
                    <strong>Nome:</strong>
                </div>
                <div class="col-md-11">
                    <label>{{vm.candidato.nome}}</label>
                </div>

                <div class="col-md-1">
                    <strong>Telefone:</strong>
                </div>
                <div class="col-md-11">
                    <label>{{vm.candidato.telefone}}</label>
                </div>

                <div class="col-md-1">
                    <strong>Email:</strong>
                </div>
                <div class="col-md-11">
                    <label>{{vm.candidato.email}}</label>
                </div>

                <div class="col-md-1">
                    <strong>Skype:</strong>
                </div>
                <div class="col-md-11">
                    <label>{{vm.candidato.skype}}</label>
                </div>

                <div class="col-md-1">
                    <strong>Cidade:</strong>
                </div>
                <div class="col-md-2">
                    <label>{{vm.candidato.cidade}}</label>
                </div>
                <div class="col-md-1">
                    <strong>Estado:</strong>
                </div>
                <div class="col-md-8">
                    <label>{{vm.candidato.estado}}</label>
                </div>

                <div class="col-lg-1">
                    <strong>Portfolio:</strong>
                </div>
                <div class="col-lg-11">
                    <label>{{vm.candidato.portfolio}}</label>
                  
                </div>

                <div class="col-lg-12">
                    <strong>Link do Crud:</strong>
                    <label>{{vm.candidato.crudLink}}</label>
                </div>
        
                <div class="col-lg-1">
                    <strong>CPF:</strong>
                </div>
                <div class="col-lg-11">
                    <label>{{vm.candidato.cpf}}</label>
                </div>

                <div class="col-lg-4">
                    <strong>Pretensão salarial por Hora:</strong>
                    <label>{{vm.candidato.valorHora}}</label>
                </div>
             
                   
            </div>
        </div>

        <div class="row">
            <div class="header">
                <h2>
                    Informações Bancarias
                </h2>
            </div>
        </div>





    </div>

</div>
</div>