<div ng-controller="app.views.conhecimento as vm">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    Cadastrar Conhecimento
                </h2>
            </div>

            <form id="formCreateConhecimento">
                <div class="input-group" ng-repeat="atributo in vm.atributos">
                    <div class="form-line">
                        <label>{{atributo.nome}}:</label>
                        <br />
                        <div class="md-radiobtn" ng-repeat="i in vm.default" style="display:inline-flex">
                            <div style="display:normal">
                                <input type="radio" id="{{atributo.nome}}" class="md-radiobtn" style="opacity:unset; position:unset; left:unset" value="{{i}}" name="{{atributo.nome}}">
                                <br />
                                <strong>{{i}}</strong>
                            </div>


                        </div>
                        <br />

                    </div>
                    </div>

</form>
        </div>
    </div>
</div>
