<div ng-controller="app.views.candidato as vm">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card main-content">
            <div class="header">
                <h2>
                    Cadastrar Candidato
                </h2>
            </div>

            <form id="formCreateCandidato">

                <div>
                  <br />
                  <br />
                </div>

                <div class="input-group col-md-4">
                    <span class="input-group-addon">

                    </span>
                    <div class="form-line">
                        <input type="text" class="form-control" ng-model="vm.candidato.nome" placeholder="Nome" required autofocus maxlength="100">
                    </div>
                </div>
                <div class="input-group col-md-4">
                    <span class="input-group-addon">

                    </span>
                    <div class="form-line">
                        <input type="email" class="form-control" ng-model="vm.candidato.email" placeholder="Email" required autofocus maxlength="100">
                    </div>
                </div>

                <div class="input-group col-md-4">
                    <span class="input-group-addon">

                    </span>
                    <div class="form-line">
                        <input type="text" class="form-control" ng-model="vm.candidato.telefone" placeholder="Telefone/Whatsapp" required autofocus maxlength="20">
                    </div>
                </div>

                <div class="input-group col-md-4">
                    <span class="input-group-addon">

                    </span>
                    <div class="form-line">
                        <input type="text" class="form-control" ng-model="vm.candidato.skype" placeholder="Skype" required autofocus maxlength="50">
                    </div>
                </div>

                <div class="input-group col-md-4">
                    <span class="input-group-addon">

                    </span>
                    <div class="form-line">
                        <input type="text" class="form-control" ng-model="vm.candidato.linkedin" placeholder="Linkedin" required autofocus maxlength="100">
                    </div>
                </div>

                <div class="input-group col-md-4">
                    <span class="input-group-addon">

                    </span>
                    <div class="form-line">
                        <input type="text" class="form-control" ng-model="vm.candidato.cidade" placeholder="Cidade" required autofocus maxlength="50">
                    </div>
                </div>

                <div class="input-group col-md-4">
                    <span class="input-group-addon">

                    </span>
                    <div class="form-line">
                        <input type="text" class="form-control" ng-model="vm.candidato.estado" placeholder="Estado" required autofocus maxlength="50">
                    </div>
                </div>
                <div class="input-group col-md-4">
                    <span class="input-group-addon">

                    </span>
                    <div class="form-line">
                        <input type="text" class="form-control" ng-model="vm.candidato.portfolio" placeholder="Portfolio" required autofocus maxlength="100">
                    </div>
                </div>

                <div class="input-group col-md-4">
                    <span class="input-group-addon">

                    </span>
                    <div class="form-line">
                        <input type="text" class="form-control" ng-model="vm.candidato.cpf" placeholder="CPF" required autofocus maxlength="15">
                    </div>
                </div>

                <div class="input-group col-md-4">
                    <span class="input-group-addon">

                    </span>
                    <div class="form-line">
                        <input type="text" class="form-control" ng-model="vm.candidato.crudLink" placeholder="CrudLink" required autofocus maxlength="100">
                    </div>
                </div>

                <div class="input-group col-md-4">
                    <span class="input-group-addon">
                      
                    </span>
                    <div class="form-line">
                        <input type="text" class="form-control" ng-model="vm.candidato.valorHora" placeholder="ValorHora" required autofocus maxlength="100">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
